* {
  font-family: "Raleway", sans-serif;
}

#screen {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display:none;
}


.rowWide {
  width: 100vw;
  margin: 0;
  padding: 0 5px;
}

#hud-time {
  margin: 20px auto 0 auto;
  border: 2px solid #e5cbb7;
  padding: 30px 10px 20px 10px;
  position: relative;
  z-index: 1;
  width: 85%;
  text-align: center;
}

#locations-display {
  margin: 10px auto 0 auto;
  border: 2px solid #e5cbb7;
  padding: 0 10px 20px 10px;
  text-align: center;
  position: relative;
  width: 85%;
}

.locationC {
  text-align: center;
  padding: 2px;
  z-index: 1;
}
.locationC > div {
  background-color: #f4f4f4;
  height: 30px;
  line-height: 30px;
}

.player {
  text-align: center;
  padding: 3px 2px;
  z-index: 1;
}
.player > div {
  background-color: #f4f4f4;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  position: relative;
}

.firstDisplay {
  position: absolute;
  font-size: 10px;
  top: 5%;
  left: 1%;
  color:red;
  line-height: 8px;
}

#spy-role {
  font-size: 16px;
}
#spy-location, #spy-M-ref {
  font-size: 14px;
}

#info-container {
  margin: 0 auto;
  border: 2px solid #e5cbb7;
  position: relative;
  padding: 30px 20px 20px 20px;
  z-index: 1;
  width: 85%;
}

#info-container, #hud-time, .player, .locationC {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#info-container:hover {
  cursor: pointer;
}

#info-help {
  font-size: 10px;
  position: absolute;
  top: 2%;
  left:2%;
}

#info-help-pc {
  display: none;
}

#screen-title {
  position: relative;
  top: 1%;
  right: 2%;
  font-size: 11px;
  text-align: right;
  z-index: 2;
}

.strikethrough {
  text-decoration: line-through;
}
.strikethrough > div {
  background-color: #e0e0e0;
}

.spy-option-button {
  background-color: white;
  border: 2px solid #e5cbb7;
  padding: 5px 10px;
  margin: 0 10px;
}

.spy-option-button:hover {
  border: 2px solid gray;
  cursor: pointer;
}
.spy-option-button:focus {outline:none;}

@media only screen and (min-width: 600px) {
  #info-container {
    height: 160px;
    width: 50%;
  }
  #info-help-pc {
    display: block;
    font-size: 10px;
    position: absolute;
    top: 2%;
    right: 2%;
  }

  #hud-time {
    width: 40%;
  }
  #locations-display {
    width:35%;
    min-width: 420px;
  }

  #spy-role {
    font-size: 20px;
  }

  #spy-location, #spy-M-ref {
    font-size: 18px;
  }

  #screen-title {
    right: 5%;
    top: 5%;
    font-size: 15px;
    line-height: 25px;
  }
}
